<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179267814872-59al547glf2qho8vs1df6v1aq44227qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179267814872-59al547glf2qho8vs1df6v1aq44227qd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179267814872-05tavjeapdmahf5sjbkn9brf66js5ab1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiuAeZ26q0GNJ-diQbAneLZ0XUhz7mJ4M</string>
	<key>GCM_SENDER_ID</key>
	<string>179267814872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uricsc305.getthatbread</string>
	<key>PROJECT_ID</key>
	<string>get-that-bread-asju8m</string>
	<key>STORAGE_BUCKET</key>
	<string>get-that-bread-asju8m.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179267814872:ios:74d6894a24fb1768931ead</string>
</dict>
</plist>